h2{
    text-align: center;
}

.canvas{
    background-color: black;
    display: block;
    /* margin: 0 auto;     */
    margin-left: 100px;
}

.racket{
    background-color: rgb(3, 164, 19);
    position: absolute;
    left: x;
    top: y;
}

.canvas{
    background-color: #ffffff;
    display: block;
    /* margin: 0 auto;     */
    /* margin-left: 100px; */
}

#win{
    font-size: 105px; 
    color: rgb(247, 199, 56);
}
/*//////////////////////////////////////////////////*/
.blink {
    display: block;
    margin-left: auto;
    margin-right: auto;
    animation: blinker 3s linear infinite;
}

@keyframes blinker {
    50% {
        opacity: 0;
    }
}

.center {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* height: 100vh; */
    align-items: center;
    margin-top: 150px;
}

.circle {
    border: 5px solid #ccc;
    border-top-color: #333;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    animation: spin 5s linear infinite;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}
/*//////////////////////////////////////////////////*/
.btn{
    margin: 10px;
    background: #699BF7;
    
    border-radius: 4px;
  
    color: black;
    box-shadow: 3.65002px 3.65002px 0px #000000;
    font-family: 'Inter';
    text-transform: none;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px; 
    background: #FFFFFF;
     border: 3.19377px solid #000000;
    
    border-radius: 10.9501px;
    width: 117px;
    height: 40px;
    /* display: flex; */
    align-items: center;
    /* padding: 16px; */
    /* margin-right: 30px; */
}

.posBtn a{
    display: block;
}

.posBtn{
    display: flex;
    flex-direction: row;
    align-items: center;
    /* padding: 16px; */
    /* gap: 70%; */
    /* border: 3px solid #000000; */
    border-radius: 12px;
    margin-left: 90px;
    margin-top: 10rem;
    margin-right: 20px;
  
}
.posBtnWinner{
    display: flex;
    flex-direction: row;
    align-items: center;

}

.posBtn a{
    display: block;
}

.wrapGaming{
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* align-items: center; */
    /* margin-left: 2rem; */
    /* margin: auto; */

}

.wrapWaiting{
    display: flex;
    flex-direction: column;
    justify-content: center;
    
    margin: auto;
    /* margin-left: 8rem; */
   
    width: 100%;
   align-items: center;
}

.wrapWaiting .center {
    margin-left: 18rem;
}

/* .wrapWaiting  .cadrOption{
    margin-left:270rem;
} */

@media (max-width: 1500px) {
    .wrapWaiting{
        display: flex;
        flex-direction: column;
        margin: auto;
        margin-left: 4rem;
        width: 70%;
       align-items: center;
    }

}

.posWating{
    display: flex;
    flex-direction: row;
    /* margin: 100px; */
    margin-top: 150px;
    align-items: center;
   

}

.posBtnWating{
    margin: 30px;
    align-items: center;

}

.wrapList{
    margin: auto;
    padding: 5px;
    /* margin-left: 200px; */
    /* width: calc(100% - 50px); */
    width: 100%;
    align-items: center;
    /* align-self: self-start; */

}
@media (max-width: 1500px) {
    .wrapList{
        margin: 0;
        padding: 5px;
        margin-left: 50px;
        width: 50%;
        align-items:center ;
    }

}

.container-matchh{
    
        display: flex;
        justify-content: space-between;
        width: inherit;
        /* width: 100%; */
        align-items: center;
        margin-bottom: 2rem;
        /* background-color: #F3F0FF; */
        border-radius: 10px;
        padding: 3px 10px 3px 10px;
        border: solid 4px black;
        /* margin-left: -15px;  */
       

        background-color: "white";
        /* border: "solid" ; */
        /* borderBlockColor:"black"; */
    }

   
.wrapLook{
    display: flex;
    flex-direction: column;
    align-items: center;
    /* margin-left: 15rem; */


    }
    .wrapLook h2{
       
        margin-bottom: 15rem;
        /* border: solid 4px rgb(252, 227, 6); */
        border-radius: 10px;
        font-weight: 800;
    
        }

    .wrapLook .posBtn{ 
        margin-top: 25rem;

    }   

    .wrapLook .custom-avatar.avatar-s{
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-left: 15rem;
        margin-bottom: -2rem;
        
    
        }

.wrapWinner{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: auto;
    width: 100%;
    margin-left: 18rem;
    align-items: center;

}  

@media (max-width: 1500px) {
    .wrapWinner{
        display: flex;
        flex-direction: column;
        margin: auto;
        margin-left: 5rem;
        width: 70%;
       align-items: center;
    }

}


.wrapWinner .custom-avatar.avatar-s{

    margin-left: 1rem;
    margin-bottom: -2rem;
    margin-top: 3rem;
    

    }      
