


/* ****************/
h2{
    text-align: center;
}

.canvas{
    background-color: black;
    display: block;
    margin:auto; 
    margin-top: 3rem;   
    
}
@media (max-width: 1100px) {
    .canvas{
        background-color: black;
        display: block;
        margin:auto; 
        margin-top: 10rem;   
        
    }
}
  

.racket{
    background-color: rgb(3, 164, 19);
    position: absolute;
    left: x;
    top: y;
}

#win{
    font-size: 105px; 
    color: rgb(247, 199, 56);
}

.blink {
    display: block;
    margin-left: auto;
    margin-right: auto;
    animation: blinker 3s linear infinite;
}

@keyframes blinker {
    30% {
        opacity: 0;
        color: #9B82FF;
    }
}

.center {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-items: center;
    margin-top: 150px;
}

.circle {
    border: 5px solid #9B82FF;
    border-top-color: #C7B9FF;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    animation: spin 5s linear infinite;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

/*//////////////////////////////////////////////////*/

.btnn{
    color: black;
    box-shadow: 3.65002px 3.65002px 0px #000000;
    font-family: 'Inter';
    text-transform: none;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    border: 3.19377px solid #000000;
    box-shadow: 3.65002px 3.65002px 0px #000000;
    border-radius: 10.9501px;
    width: 117px;
    height: 40px;
   
    align-content: center;
    text-align: center;
    padding: 16px;
    padding-bottom: 2rem;
    margin-bottom: 2rem;
    
}
.container-match {
    display: flex;
    justify-content: space-between;
    width: inherit;
    align-items: center;
    background-color: #F3F0FF;
    border-radius: 10px;
    padding: 3px 10px 3px 10px;
    border: solid 1px #0000000f;
    margin-bottom: 2rem;
    /* margin-left: -15px; */
}

/*////  winner //////////////////////////////////////////////*/
.headerWin{
    margin: auto; 
    margin-top: 5rem;
    border-radius: 20px;
    border: solid ;
    border-color: #000000;
    padding: 20px 130px 20px 130px;

}
.sctWin{
    background-color: #C7B9FF;
    border-radius: 20px;
    border: solid ;
    border-color: #000000;
    padding: 20px 130px 20px 130px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 8rem;
    width: 70%;
    height: 25rem;
    margin: auto; 
    margin-top: 10rem;
 }
 @media (max-width: 1100px) {
    .sctWin{
        background-color: #C7B9FF;
        border-radius: 20px;
        border: solid ;
        border-color: #000000;
        padding: 20px 130px 20px 130px;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 6rem;
        width: 70%;
        height: 20rem;
        margin: auto; 
        margin-top: 10rem;
     }
}
 .wrapWin .sctWin .h1{
    margin:auto ;
   
 }

 .CapWinner{
    display: flex;
    flex-direction: column;
    margin-top: 50px;
    border: none;
    align-items: center;
    
 }

 .CapWinner .star{
    border: none;
    margin: auto;
    width: 150px;
    height: 150px;
    position: fixed;
    margin-top: -130px;

}


.CapWinner .custom-avatar.avatar-l {
   
    margin: auto;
    border: none;
    position: fixed;
    margin-top: -100px;
   
}

/*//////////////////////////////////////////////////*/
.containerGame{
    height: calc(100vh - 15px);
    display: flex;

}

.gameSideL{
	background-color: #F0F0F0;
	position: relative;
	display: flex;
	flex-direction: column;
    justify-content: space-between;
	text-align: center;
	width: 350px;
	height: 100vh;
    border-right: 1px solid #8b8a8a45;
}
.gameSideL .title{
    margin: 0;
    margin-left: auto;
    margin-right: auto;
}
.gameSideL  .title .custom-avatar.avatar-l{
    margin: auto;
    margin-top: 2rem;
    margin-bottom: 1rem;
  
}


.chatMenu .MuiTabs-scroller {
    height: 101px;
    border-bottom: 1px solid rgb(211, 211, 211);
}

.chatMenu .MuiTabs-flexContainer {
	height: 100%;
}

.gameBox {
	flex: 8;
	height: 100vh;
	padding-bottom: 10px;
    padding-left: 1rem;
    padding-right: 1rem;
}
.gameBox .gametitle{
    margin: auto;
    margin-top: 1rem;
    border-radius: 20px;
    border: solid ;
    border-color: #000000;
    padding: 15px 130px 15px 130px;
    background-color: #F0F0F0;
   
}
.gameBoxW {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: relative;
  }
  .gameBoxW .wrapWaiting{
    margin: auto;
    margin-top: 20%;
  }
.gameBox .container-match{
    margin-top: 1rem;
    margin-left: 1rem;
    margin-right: 1rem;
} 

.vs{
    
    margin: 1rem;
    padding: 1rem;
    font-style: normal;
    font-weight: 600;
    font-size: 28px;
    line-height: 20px;
    align-self: center;
    font-family: 'Noto Sans', sans-serif;

}

  .gameSideR {
	background-color: #F0F0F0;
	height: 100vh;
	padding: 15px;
	width: 30%;
}
.gameSideR .wrapList{

   
    margin: auto;
    margin-left: 1rem;
    align-items: center;
}

.gameSideR  .posH{
    margin: auto;
    margin-bottom: 3rem;
	
}
/* *************************** */
