.not-found-page {
    background-color: #134771;
  }
  
  .not-found {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
    color: #fda7fa;
  }
  