.icon-setting {
    color: grey;
    margin-left: 3px;
}

.modal-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
  
.modal-content {
    width: 400px;
    height: 400px;
    background-color: #C7B9FF;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
}

.channel-icon {
    color: #699BF7;
}

.join-channel {
    margin: 10px;
}

.visibility-icon {
    display: flex;
    align-items: center; 
}

.pwd-icon {
    cursor: pointer;
}

.form-fields-channel {
    width: 250px;
}

.channel-list-container {
    display: inline-block;
    vertical-align: top;
    /* width: 200px; */
  }
  
  .chat-room-container {
    display: inline-block;
    vertical-align: top;
    /* width: calc(100% - 200px); */
  }
  