.chatOnlineFriend,
.chatOnlineNotFriend {
  display: flex;
  align-items: center;
  font-weight: 500;
  margin-top: 10px;
  justify-content: space-evenly;
}

.chatOnlineFriend.MuiListItem-root {
  height: 80px;
  border-bottom: 1px solid rgb(180 180 180 / 41%);
  margin-top: 0;
}

.chatOnlineNotFriend {
  background-color: lightgrey;
  border-radius: 8px;
}

.chatOnlineNotFriend .MuiListItemAvatar-root {
  filter: grayscale(80%);
}

.line-chat {
  position: absolute;
  height: inherit;
  width: 0;
  left: 300px;
  top: 81px;
  border-right: 5px solid #C7B9FF;
}

.popupChallenge{
  position:fixed;
  z-index: 9999;
  top:0;
  left:0;
  width:100%;
  height:100vh;
  background-color: rgba(0,0,0,0.2);
  display: flex;
  justify-content: center;
  align-items: center;
}

.popupChallenge-inner{
  position: relative;
  padding:30px;
  width: 100%;
  max-width: 640px;
  background-color: white;
}

.popupChallenge-inner .close-btn{
  position: absolute;
  top: 16px;
  right: 16px;
}

.fname{
  display: flex;
  align-items: center;
}

.chatOnlineImgContainer {
  position: relative;
  margin-right: 10px;
}

.chatOnlineImg {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  object-fit: cover;
  border: 1px solid white;
}

.chatOnlineBadge {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: limegreen;
  position: absolute;
  top: 2px;
  right: 2px;
}


.messenger {
  height: calc(100vh - 15px);
  display: flex;
}



.chatMenuInput {
  width: 90%;
  padding: 10px 0;
  border: none;
  border-bottom: 1px solid gray;
}

.chatBox {
	flex: 8;
	height: 100vh;
	padding-bottom: 10px;
}

.chatBoxW {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: relative;
}

.chatBoxTop {
  height: 100%;
  overflow-y: scroll;
  background-color: #FDFAF9;
  padding: 25px 15px 15px 15px;
  border-right: 1px solid #cbcbcb;
}

.conversationListe {
  height: 100%;
  overflow-y: scroll;
  padding-right: 10px;
}

.chatBoxBottom {
	width: 97%;
  display: flex;
  align-items: center;
  justify-content: space-between;
	border-top: solid 1px #c7c7c7;
}

.chatMessageInput {
	 width: 100%;
	height: 67px;
	border: solid 1px #ffffff40;
	padding-left: 20px;
    /* height: 90px; */
    /* padding: 10px; */
    /* margin: 10px; */
    /* background-color: #C7B9FF; */
    /* border-radius: 4px; */
    /* border: 1px solid grey; */
}

.chatSubmitButton,
.chatSubmitButton2  {
  height: 40px;
  border: none;
  border-radius: 10px;
  cursor: pointer;
   color: #c7b9ff;
  margin-right: 5px;
  margin-left: 5px;
  border: black 2px solid;
  /* background-color: teal; */
}


.chatSubmitButton2 {
  border: solid;
  background-color: white;
  /* color: teal; */
  color: black;
}


.chatOnline {
  flex: 3;
  background-color: #f2f2f2;
}


.chatBoxW {
  height: 100vh;
}

.chatMenu {
	background-color: #F0F0F0;
	position: relative;
	display: flex;
	flex-direction: column;
	text-align: center;
	width: 350px;
	height: 100vh;
  border-right: 1px solid #8b8a8a45;
}


.chatMenuW {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}
.noConversationText {
  position: absolute;
  top: 40%;
  font-size: 50px;
  color: rgb(224, 220, 220);
  cursor: default;
  z-index: -10;
}

.noConversationText2 {
  font-size: 20px;
  color: rgb(224, 220, 220);
  align-items: center;
}

.box-msg {
	height: 100%;
	width: 100%;
	text-align: center;
	padding-top: 200px;
}

.conversation {
  display: flex;
  align-items: center;
}

.conversation .MuiAvatar-rounded.channel-public {
	background-color: #699af7;
}

.conversation .MuiAvatar-rounded.channel-protected {
	background-color: #ffc700;
}

.conversation .MuiAvatar-rounded.channel-private {
	background-color: #c7b9ff;
}

.channel-inlist {
	display: flex;
	align-items: center;
	border-bottom: #bdbdbd57 1px solid;
	height: 75px;
	padding: 25px;
  /* width: 20px; */
}

.invitations-inlist {
	display: flex;
	align-items: center;
	border-bottom: #bdbdbd57 1px solid;
	height: 75px;
	padding: 25px;
	background-color: #c01ee912;
}

.conversation-name {
  flex: 1;
}

.invitation-name {
	display: flex;
	flex: 1;
	align-items: center;
	margin-bottom: 15px;
	margin-top: 15px;
	margin-left: 10px;
}

.conversation-icon {
  margin-right: 10px;
}

.list-item-channel {
  margin-right: 12px;
}

.create-channel-button {
  margin-right: 200px;
  background-color: #E2DBFF;
  margin-top: 15px;
}

.accept-icon .MuiIconButton-root {
	color: #00d03b;
}

.accept-icon .MuiSvgIcon-root {
	font-size: 30px;
	height: 35px;
}

.rejected-icon .MuiIconButton-root {
	color: #d60000;
}

.rejected-icon .MuiSvgIcon-root {
	font-size: 30px;
	height: 35px;
}

.conversation-list {
	background-color: #F0F0F0;
	position: relative;
	height: inherit;
	overflow-y: scroll;
	scrollbar-color: rebeccapurple green;
	scrollbar-width: thin;
}

.create-channel-position {
	position: fixed;
	bottom: 50px;
	left: 250px;
  z-index: 10;
}

.send-btn-chat {
	height: 25px;
	color: #0000008f;
	margin-right: 20px;
}

.send-btn-chat:hover {
	color: #1006968f;
	cursor: pointer;
}

.persoInfo {
	display: flex;
    flex-direction: row;
    border-bottom: 1px solid rgb(211, 211, 211);
    background-color: #fffefe;
    border-radius: 7px;
    padding: 15px;
    height: 75px;
    align-items: center;
	margin-right: 20px;
    margin-left: 20px;
}

.avatName {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	justify-content: center;
	margin-left: 15px;
}

.avatName p {
	font-family: 'Noto Sans';
	font-weight: 200;
	font-size: 15px;
	margin-bottom: 0px;
}

.avatName h3{
	margin-bottom: 0px;
	font-family: 'Noto Sans';
	font-weight: 600;
	font-size: 20px;
}

.avat-perso.MuiAvatar-root {
	height: 49px;
	width: 50px;
	border-radius: 50%;
}

.outChat {
	position: absolute;
	right: 50px;
	font-size: 30px;
	color: black;
}

.chatMenu .MuiTabs-scroller {
    height: 101px;
    border-bottom: 1px solid rgb(211, 211, 211);
}

.chatMenu .MuiTabs-flexContainer {
	height: 100%;
}

.border-perso-chat {
	height: 86px;
	border-bottom: 1px solid rgb(211, 211, 211);
	margin-left: -20px;
	margin-right: -20px;

}

.border-perso-channel {
  height: 91px;
  border-bottom: 1px solid rgb(211, 211, 211);
  margin-top: 10px;
}

.navbar-welcome {
	display: flex;
	height: 101px;
  width: 100%;
	padding: 10px;
	background-color: #F0F0F0;
	border-bottom: 1px solid #80808038;
	align-items: center;
}

.home-chat {
  display: flex;
  flex-direction: column;
}

.home-msg {
    font-size: 17px;
    font-family: 'Noto Sans', sans-serif;
    margin-top: 20pc;
    color: #808080a6;
    font-weight: 300;
    letter-spacing: 6px;
}
