.chatOnlineFriend,
.chatOnlineNotFriend {
  display: flex;
  align-items: center;
  font-weight: 500;
  cursor: pointer;
  margin-top: 10px;
  justify-content: space-between;
}

.chatOnlineNotFriend {
  filter: grayscale(80%);
  background-color: lightgrey;
  border-radius: 10px;
}

.line-chat {
  position: absolute;
  height: inherit;
  width: 0;
  left: 300px;
  top: 81px;
  border-right: 5px solid #C7B9FF;
}

.popupChallenge{
  position:fixed;
  z-index: 9999;
  top:0;
  left:0;
  width:100%;
  height:100vh;
  background-color: rgba(0,0,0,0.2);
  display: flex;
  justify-content: center;
  align-items: center;
}

.popupChallenge-inner{
  position: relative;
  padding:32px;
  width: 100%;
  max-width: 640px;
  background-color: white;
}

.popupChallenge-inner .close-btn{
  position: absolute;
  top: 16px;
  right: 16px;
}

.fname{
  display: flex;
  align-items: center;
}

.chatOnlineImgContainer {
  position: relative;
  margin-right: 10px;
}

.chatOnlineImg {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  object-fit: cover;
  border: 1px solid white;
}

.chatOnlineBadge {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: limegreen;
  position: absolute;
  top: 2px;
  right: 2px;
}


.messenger {
  height: calc(100vh - 70px);
  display: flex;
}



.chatMenuInput {
  width: 90%;
  padding: 10px 0;
  border: none;
  border-bottom: 1px solid gray;
}

.chatBox {
  flex: 5.5;
}

.chatBoxW {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: relative;
}

.chatBoxTop {
  height: 100%;
  overflow-y: scroll;
  padding-right: 10px;
}

.conversationListe {
  height: 100%;
  overflow-y: scroll;
  padding-right: 10px;
}

.chatBoxBottom {
  margin-top: 5px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.chatMessageInput {
  width: 80%;
  height: 90px;
  padding: 10px;
  margin: 10px;
  background-color: #C7B9FF;
  border-radius: 4px;
  border: 2px solid black;
}

.chatSubmitButton,
.chatSubmitButton2  {
  height: 40px;
  border: none;
  border-radius: 10px;
  cursor: pointer;
   color: #c7b9ff;
  margin-right: 5px;
  margin-left: 5px;
  border: black 2px solid;
  /* background-color: teal; */
}


.chatSubmitButton2 {
  border: solid;
  background-color: white;
  /* color: teal; */
  color: black;
}


.chatOnline {
  flex: 3;
  overflow-y: scroll;
}


.chatBoxW,
.chatOnlineW {
  padding: 10px;
  height: 100%;
}

.chatMenu {
  position: relative;
  display: flex;
  flex-direction: column;
  text-align: center;
  width: 350px;
  height: 100vh;
  padding: 2px;
}


.chatMenuW {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}
.noConversationText {
  position: absolute;
  top: 40%;
  font-size: 50px;
  color: rgb(224, 220, 220);
  cursor: default;
}

.noConversationText2 {
  top: 10%;
  font-size: 50px;
  color: rgb(224, 220, 220);
  cursor: default;
}

.conversation {
  display: flex;
  align-items: center;
}

.conversation .MuiAvatar-rounded.channel-public {
	background-color: #699af7;
}

.conversation .MuiAvatar-rounded.channel-protected {
	background-color: #ffc700;
}

.conversation .MuiAvatar-rounded.channel-private {
	background-color: #c7b9ff;
}

.channel-inlist {
	display: flex;
	align-items: center;
	border-bottom: #bdbdbd57 1px solid;
	height: 75px;
	padding: 25px;
  /* width: 20px; */
}

.invitations-inlist {
	display: flex;
	align-items: center;
	border-bottom: #bdbdbd57 1px solid;
	height: 75px;
	padding: 25px;
	background-color: #c01ee912;
}

.conversation-name {
  flex: 1;
}

.invitation-name {
	display: flex;
	flex: 1;
	align-items: center;
	margin-bottom: 15px;
	margin-top: 15px;
	margin-left: 10px;
}

.conversation-icon {
  margin-right: 10px;
}

.list-item-channel {
  margin-right: 12px;
}

.create-channel-button {
  margin-right: 200px;
  background-color: #E2DBFF;
  margin-top: 15px;
}

.accept-icon .MuiIconButton-root {
	color: #00d03b;
}

.accept-icon .MuiSvgIcon-root {
	font-size: 30px;
	height: 35px;
}

.rejected-icon .MuiIconButton-root {
	color: #d60000;
}

.rejected-icon .MuiSvgIcon-root {
	font-size: 30px;
	height: 35px;
}

.conversation-list {
	position: relative;
	height: inherit;
}

.create-channel-position {
	position: absolute;
	bottom: 50px;
	right: 30px;
}
