.modalgame {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.75); /* Semi-transparent background */
	z-index: 9999; /* Higher value to place it above other elements */
}

.back {
	position: fixed;
	background-color: rgba(24, 46, 86, 0.750);
	width: 100%;
	height: 100%;
}

.modal-contain{
	position: fixed;
	top: 55vh;
	left: 15%;
	width: 70%;
	height: 27%;
	z-index: 10;
	overflow: hidden;
	background-color: #ffffff;
	border-radius: 15px;
	box-shadow: 1px 1px 5px 0px #182e56;
	
}

.header-modal{
	background-color: rgb(250, 250, 250);
	padding: 2rem;
}

.header-modal h2{
	color: blue;
}

.content {
	font-size: 1rem;
	padding-left: 2rem;
}

.actions{
	display: flex;
	justify-content:  flex-end;
	padding: 1rem;
}
@media(min-width: 600px){
	.modal-contain{
		width: 30rem;
		left: calc(50% - 15rem);
	}

}

/* .btm-contain{
	display: flexbox;
	flex-direction: row;
} */

.btn
{	
	
		margin: 10px;
		background: #699BF7;
		border: 3px solid #000000;
		border-radius: 4px;
		margin: 10px;
		color: black;
		box-shadow: 3.65002px 3.65002px 0px #000000;
		font-family: 'Inter';
		text-transform: none;
		font-weight: 500;
		font-size: 16px;
		line-height: 19px; 
		background: #FFFFFF;
		 border: 3.19377px solid #000000;
		box-shadow: 3.65002px 3.65002px 0px #000000;
		border-radius: 10.9501px;
		width: 117px;
		height: 40px;
		display: flex;
		align-items: center;
		padding: 16px;


}

.global-popup-refus {
    padding: 10px;
    border-radius: 17px;
    background-color: #C7B9FF;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    /* z-index: 2; */
	/* margin-top: 30rem; */
}
