.container-form {
	display: grid;
	height: 100vh;
	justify-content: center;
	align-items: center;
	align-content: center;
	background-color: #eceaeaf3;
}

.border-form {
	display: flex;
	width: 540px;
	height: 370px;
	border-radius: 8px;
	border: 4px dashed #699BF7;
	flex-direction: column;
	align-items: center;
	background: #FFFFFF;
	box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.border-form-up {
	display: flex;
	width: 540px;
	height: 480px;
	border-radius: 8px;
	border: 4px dashed #699BF7;
	flex-direction: column;
	align-items: center;
	background: #FFFFFF;
	box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.title-form {
	font-family: 'Noto Sans', sans-serif;
	font-weight: 300;
	letter-spacing: 8px;
	font-size: 35px;
	text-align: initial;
}

.form-input {
	display: flex;

    flex-direction: column;
	margin: 40px;
}

.body {
	font-family: none;
}

i {
	color: #699BF7;
}

.submit-form {
	width: 120px;
	height: 30px;
	border: 2px solid #699BF7;
	border-radius: 4px;
	font-family: ' Sans', sans-serif;
	color: #699BF7;
	font-size: 14px;
	font-weight: 800;
	display: flex;
	flex-direction: row;
    align-items: center;
    justify-content: space-around;
}

.position {
    display: flex;
    margin-right: 40px;
	justify-content: flex-end;
	flex-direction: column;
	align-items: flex-end;
}

.position p {
	font-size: 12px;
	font-style: italic;
	font-family: inherit;
}

.form-input input {
	height: 50px;
	width: 430px;
	background-color: #C7B9FF;
	border-radius: 4px;
	border: 2px solid black;
	font-family: 'Noto Sans', sans-serif;
	font-weight: 300;
	font-size: 14px;
}

.form-input label {
	font-family: 'Noto Sans', sans-serif;
	font-weight: 800;
	font-size: 14px;
	text-align: initial;
}