.container-menu {
    display: flex;
    flex-direction: column;
    /* margin: 68px; */
    padding: 65px;
    height: 100vh;
}

.container-menu h2 {
	font-style: normal;
	font-weight: 900;
	font-size: 48px;
	line-height: 70px;
	color: #54429F;
}

.card-menu {
	display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
	height: 100vh;
	width: 100vh;
}

.menu-bodyCard {
    position: relative;
    display: flex;
    width: inherit;
    justify-content: space-between;
    flex-direction: row;
    padding-left: 5px;
    padding-right: 30px;
    align-items: center;
    padding-top: 30px;
    /* top: -26px; */
    bottom: 50px;
}

.menu-bodyCard p {
	padding-top: 40px;
    font-weight: 100;
    font-size: 16px;
    color: black;
    line-height: 23.17px;
}

.font-menu {
	font-size: 60px;
	top: -12px;
    position: relative;
}

.font-menu i {
	color: black;
}

.menu-card:hover {
	background-color: #f1f1f1;
  }
