*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serifs;
}

.mainPos
{
    display: flex;
    flex-direction: row;
    top: 0;
    left: 0;
    height: 100vh;
    transition: all 0.5s ease.;
}


.position
{
    font-size: 28px;
    color: rgb(93, 93, 167);
    margin: auto;
    font-weight: bold;
    text-align: center;
    margin: 50px;
    align-items: center;
    margin: auto;
}



.card
{
    border: 3px solid rgb(9, 9, 109);
    box-shadow: 15px 10px 10px rgb(5, 5, 5);
    padding: 10px;
    max-width: 600px;
    max-height: 100px;
    margin: 20px auto;
    border-radius: 4px;
    text-align: left;
    margin: 30px;
}
.cardTit
{
    color: gray;
    font-size: small;
    margin-top: 0;
}

.title
{
    /*border-bottom: 3px solid rgb(143, 143, 243);
    padding-bottom: 80px;*/
   

    text-align: center;
    margin: auto;
    margin-top: 0;
    font-weight: bold;

     /* position: absolute; */
     width: 208px;
     height: 42px;
     left: 774px;
     top: 14px;
}

table,
td {
    border: 1px solid #333;
}

thead,
tfoot {
    background-color: #333;
    color: #fff;
}
