*{
    margin: 0;
    padding: 0;
    /*box-sizing: border-box;*/
    /* font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serifs; */
}

.mainPos
{
    /* float: left; */
    display: flex;
    flex-direction: row;
    top: 0;
    left: 0;
    height: 100%;
    /* width: 100vh; */
    transition: all 0.5s ease;
   /* margin-left: initial; */

}


.position
{
    font-size: 28px;
    color: rgb(93, 93, 167);
    margin: auto;
    font-weight: bold;
    text-align: center;
    margin: 50px;
    align-items: center;
    margin: auto;
}


.cardTit
{
    color: gray;
    font-size: small;
    margin-top: 0;
}

.title
{

    padding: 10px;
    text-align: center;
    margin: 20px;
    margin-top: 0;
    font-weight: bold;

}

table,
td {
    border: 1px solid #333;
}

thead,
tfoot {
    background-color: #333;
    color: #fff;
}
