.mainPos
{
    display: flex;
    flex-direction: row;
    top: 0;
    left: 0;
    width: 80%;
    height: 100%;

}

.position
{
    font-size: 28px;
    color: rgb(93, 93, 167);
    margin: auto;
    font-weight: bold;
    text-align: center;
    margin: 50px;
    width: 800px;
    align-items: center;
}

.card
{
    border: 3px solid rgb(9, 9, 109);
    box-shadow: 15px 10px 10px rgb(5, 5, 5);
    padding: 10px;
    max-width: 600px;
    max-height: 100px;
    margin: 20px auto;
    border-radius: 4px;
    text-align: left;

}
.cardTit
{
    color: gray;
    font-size: small;
    margin-top: 0;
}

