* {

	font-family: 'Noto Sans', sans-serif;
}

body{
    margin: 0;
    padding: 0;
}

.btn{
    background: rgb(247, 230, 3);
    border: 3px solid #000000;
    border-radius: 4px;
}

.card-option
{
    padding: 10px;
    padding-bottom: 0;
    margin: 20px auto;
    border-radius: 4px;
    text-align: left;
    margin: 30px;
}

.circlebtn{
    margin: 10;
    border-radius: 100%;
	padding: 0.6em 1.2em;
	cursor: pointer;
	transition: border-color 0.25s;

}
