* {

	font-family: 'Noto Sans', sans-serif;
}

body{
    margin: 0;
    padding: 0;
}

.btn{
    background: #699BF7;
    border: 3px solid #000000;
    border-radius: 4px;

    color: black;
    box-shadow: 3.65002px 3.65002px 0px #000000;
    font-family: 'Inter';
    text-transform: none;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    /* background: #FFFFFF; */
    border: 3.19377px solid #000000;
    box-shadow: 3.65002px 3.65002px 0px #000000;
    border-radius: 10.9501px;
    width: 117px;
    height: 40px;
    display: flex;
    align-items: center;
    padding: 16px;
    margin-right: 30px;
}

.card-option
{
    padding: 10px;
    padding-bottom: 0;
    margin: 20px auto;
    border-radius: 4px;
    text-align: left;
    margin: 30px;
}

.circlebtn{
    margin: 10;
    border-radius: 100%;
	padding: 0.6em 1.2em;
	cursor: pointer;
	transition: border-color 0.25s;

}
