.profile-card {
    width: 230px;
    height: 270px;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    padding: 16px;
    gap: 8px;
    border: 3px solid #000000;
    border-radius: 12px;
    margin-top: 21px;
    margin-right: 20px;
}

.profile-card img{
    height: 188px;
    order: 0;
    align-self: stretch;
    background: #699BF7;
    border: 3px solid #000000;
    box-shadow: 0px 4px 4px rgb(0 0 0 / 25%);
    border-radius: 4px;
}

.profile-card h5{
    display: flex;
    height: 36px;
    background: #C7B9FF;
    border: 3px solid #000000;
    border-radius: 4px;
    flex: none;
    align-self: stretch;
    font-weight: 700;
    font-size: 16px;
    align-items: center;
    padding-left: 10px;
}

.card {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	padding: 15px 24px 0px 21px;
	border: 4px solid #000000;
	box-shadow: 3.95px 4.95px 0px #000000;
	border-radius: 7.46612px;
	justify-content: space-between;
	position: relative;
	margin: 20px auto;
	text-align: left;
}

.title-card-m h5 {
	font-style: normal;
	font-weight: 700;
	font-size: 32px;
	line-height: 24px;
	align-self: center;
	font-family: 'Noto Sans', sans-serif;
}

.title-card-s h5 {
	font-style: normal;
	font-weight: 700;
	font-size: 26px;
	line-height: 29px;
	align-self: center;
	font-family: 'Noto Sans', sans-serif;
}


.flex h2 {
	align-self: center;
	font-style: normal;
	font-weight: 900;
	font-size: 50px;
	line-height: 41px;
	text-align: right;
	margin-left: 12px;
	font-family: 'Inter';
}

.flex {
	display: flex;
	margin-bottom: 35px;
}
.font i {
	color: white;
	font-size: 28px;
}

.custom-status-m {
	position: relative;
	width: 8px;
	height: 65px;
    top: 0px;
    right: 27px;
	border-radius: 27.3758px;
}

.custom-status-s {
	position: relative;
	width: 7px;
	height: 30px;
    top: 0px;
    right: 27px;
	border-radius: 27.3758px;
}

.title-card-m {
    display: flex;
}

.title-card-s {
    display: flex;
}

.achievement-card {
    grid-column: span 1;
    display: flex;
  }

  .container-profile {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 65px;
    grid-row-gap: 40px; /* Ajuste la valeur de grid-row-gap */
    padding-top: 80px;
    padding-left: 70px;
    min-height: 100vh;
    align-content: stretch;
    align-items: start;
  }

.card-wrapper {
    grid-template-columns: repeat(3, 1fr);
    grid-column: span 2;
}

.background-icon {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: black;
    height: 60px;
    width: 60px;
    border-radius: 15px;
    margin-left: 10px;
}

.font {
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    font-size: 24px;
    width: 50px;
    height: 50px;
}
/*
@media (max-width: 768px) {
    .container-profile {
      grid-template-columns: 1fr;
    }
    .card-wrapper {
        grid-template-columns: 1fr;
      }
} */

.body h5{
    font-style: normal;
    font-weight: 700;
    font-size: 32px;
    line-height: 24px;
    align-self: center;
	font-family: 'Noto Sans', sans-serif;
    margin-left: 20px;
}

.accept {
    color: rgb(14, 128, 20);
    font-size: 30px;
	width: fit-content;
	cursor: pointer;
}

.deny {
    color:rgb(94, 33, 33);
    font-size: 30px;
	width: fit-content;
	cursor: pointer;
}

li {
    list-style-type: none;
}

.friends-infos {
    visibility: hidden;
    display: flex;
    font-family: 'Noto Sans', sans-serif;
    font-weight: 600;
    font-size: 16px;
    line-height: 35px;
    position: absolute;
    top: -60px;
    flex-direction: column;
    align-items: flex-start;
}

.friend li:hover .friends-infos {
    visibility: visible;
  }

.action-friend i{
    color:rgb(94, 33, 33);
    font-size: 17px;
    margin-right: 20px;
}

.action-friend button {
    background-color: white;
    border: white;
    margin-left: 10px;
}

.action-friend {
    display: flex;
    /* align-items: ; */
}

.friend {
	left: -35px;
	position: relative;
	display: flex;
	align-items: center;
	justify-content: space-evenly;
	width: 170px;
}

.demand-username {
	font-size: 15px;
}

.badge-unstyled {
	position: relative;
	display: inline-block;
}

.notif-keyboard {
	display: flex;
}

.badge-notification {
	z-index: 1;
	display: flex;
	justify-content: center;
	align-items: center;
	width: 20px;
	height: 20px;
	background-color: red;
	color: white;
	font-size: 12px;
	font-weight: bold;
	border-radius: 50%;
}

.notif-keyboard .MuiBadge-root {
	position: absolute;
	right: 23px;
	top: 17px;
}

.notif-sidebar .MuiBadge-root {
	position: absolute;
	right: 26px;
	top: 6px;
	z-index: 1;
}

.arrowdown-icon.MuiSvgIcon-root {
	font-size: 55px;
	position: absolute;
	right: 30px;
}

.arrowdown-icon.MuiSvgIcon-root:hover {
	color: #212529;
	cursor: pointer;
	box-shadow: 1px 1px 7px 2px #c7b9ff;
	border-radius: 50%;
}

.avatar-hovered {
	filter: grayscale(100%);
}

.detail-score {
	display: flex;
	margin-left: 17px;
	align-items: center;
}

.detail-score h3 {
	font-weight: 700;
	font-size: 40px;
}

.stats-progress {
    width: -webkit-fill-available;
    height: 50px;
    border-radius: 10px; /* Changer le rayon des bords */
  }

  .stats-progress::-webkit-progress-value {
    background-color: #C7B9FF; /* Couleur de la barre de progression */
    border-radius: 5px; /* Changer le rayon des bords */
  }

  .stats-progress::-webkit-progress-bar {
    background-color: #F3F0FF; /* Couleur de fond de la barre de progression */
    border-radius: 5px; /* Changer le rayon des bords */
  }

  .stats-progress span {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.7rem;
    color: #699bf7;
    font-weight: 800;/* Placer le pourcentage au-dessus de la barre de progression */
  }

.button-remove {
	position: absolute;
	/* top: 0;
	right: 0; */
	font-size: 30px;
	background-color: transparent;
	filter: 'none';
	border: none;
	outline: none;
	cursor: pointer;
}

.button-remove i {
	font-size: 20px;
	color: rgb(231, 9, 9);
}

.icon-friends {
    display: flex;
    align-items: center;
    flex-direction: column-reverse;
}

.icon-friends a{
    font-size: 12px;
    margin-right: 15px;
}


.container-match {
    display: flex;
    justify-content: space-between;
    width: inherit;
    align-items: center;
    background-color: #F3F0FF;
    border-radius: 10px;
    padding: 3px 10px 3px 10px;
    border: solid 1px #0000000f;
    /* margin-left: -15px; */
}

.score-history {
    display: flex;
    flex-direction: column;
}

.scores-container {
    font-weight: 700;
    font-size: 1.5rem;
  }

  .score {
    margin: 0 8px;
  }

  .date {
    font-size: 0.8rem;
    text-align: center;
    margin-top: -8px;
  }

 .name-icon h6 {
    font-weight: 700;
    font-size: 0.8rem;
    font-family: 'Noto Sans', sans-serif;
    line-height: 0;
    margin-bottom: -5px;
 }

 .name-icon-s h6 {
    font-weight: 700;
    font-size: 0.5rem;
    font-family: 'Noto Sans', sans-serif;
    line-height: 0;
    margin-bottom: -9px;
 }

 .name-icon {
    display: flex;
    flex-direction: column;
    align-items: center;
 }

 .name-icon-s {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: -10px;
 }

 .tooltip {
    margin: 0px;
 }

 .container-achiev {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
 }
