
* {
    box-sizing: border-box; 
	font-family: 'Noto Sans', sans-serif;
}

body{
    margin: 0;
    padding: 0;
}

.main{
    display: flex;
    flex-direction: row;
    height: 100vh;
}

.one{
    width: 100%;
    height: 100vh; /*for labtop ne fonction pas !!*/

}

.one_podium{
    
    align-items: center;
    width: 100%;
    border-bottom: 3px solid grey;
    padding: 0px;

}


.two{
    /* display: flex;
    flex-direction: row-reverse; */
    /* align-items:self-start; */
    margin: auto;
    /* padding: 0; */
    /* padding-top: 10px; */
    width: 100%;
    /* margin-left: 5px; */
    /* margin: auto; */
    /* background-color: #f1f52e; */
}


@media (max-width: 1000px) {
    .two{
        /* display: grid;
        flex-direction: column; */
        /* align-items:flex-end; */
        width: 100%;
        /* margin: auto; */
        padding: 10;
        padding-top: 5px;
        /* background-color: #66f52e; */

    }
   

}

.pos{
    display: flex;
    flex-direction: row;
    gap: 8rem;
    margin: 30px;
    align-self: center;
   

}

@media (max-width: 1000px) {
    .Pos{
        background-color: blue;
        display: grid;
        gap: 5rem;
        /* flex-direction: column; */
         /* margin: 30px;
        align-self: center; */
       
       
    } 
   
} 

.midPos{
    
        display: flex;
        flex-direction: row;
        margin: 20px;
        
    
}

/* @media (max-width: 1000px) {
    .midPos{
        display: flex;
       flex-direction: row;
       margin: 20px; 
       background-color: red;
       
    }
    
} */

.rangAvatar{
    display: flex;
    flex-direction:column-reverse;
    align-items: center;
    
}

.table{
     
    /* border: 3px solid #699BF7; */
    border-radius: 10;
    width: 100%;
    align-self:center;
    /* margin: auto;
    margin-left:70px; */
    
       
    
}


@media (max-width: 1500px) {
    .table{

        border: 3px solid #699BF7;
        width: 40%;
        align-self:center;
        /*margin-left: 100px;*/
        margin: auto;
        margin-top: 5px;
      
        
    }
    
}

.thead{
    background-color: rgb(238, 236, 148);
    color: black;
    font-weight:bold;
 
}

.table ,th ,td{
   
   border: 1px solid #699BF7;
   shape-rendering: auto;
   align-self:center;
}

th{
    height: 50px;
    text-align: center;
    background-color: rgb(252, 244, 136);
  
}

td{
    height: 15px;
    vertical-align:middle;
   
}

th ,td{
    padding: 15px;
    text-align: center;
 }

 
 tr:hover{background-color: #d6d5d5;}

tr:nth-child(even) {background-color: #d4dcf7;}

.rangAvatar:first-of-type .cadre {
    background:linear-gradient(0deg, #7862f7, #f2def3);
   
}

.rangAvatar:nth-of-type(2) .cadre {
    background: linear-gradient(0deg, #003ba5, #84c4e9);
}

.rangAvatar:last-of-type .cadre {
    background: linear-gradient(0deg, #f1f52e, #e9c984);
}