
* {
    /* box-sizing: border-box; */
	font-family: 'Noto Sans', sans-serif;
}

body{
    margin: 0;
    padding: 0;
}

.main{
    display: flex;
    flex-direction: row;
}

.one{
    width: 100%;
   

}

.two{
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    padding-top: 80px;
   
    
}

.midPos{
    
    display: flex;
    flex-direction: row;
    margin: 20px;
}

.pos{
    display: flex;
    flex-direction: row;
   
    margin: 30px;
    align-items: end;

}



.rangAvatar{
    display: flex;
    flex-direction:column-reverse;
    align-items: center;
    
}



.table ,th ,td{
    margin: 20px;
   border: 1px solid blue;
   shape-rendering: auto;
}


.table{
    border: 3px solid blue;
    width: 100%;
    align-self: flex-start;
}

.thead{
    background-color: rgb(238, 236, 148);
    
}

th{
    height: 50px;
    text-align: center;
    background-color: rgb(252, 244, 136);
  
}

td{
    height: 50px;
    vertical-align:middle;
   
}

th ,td{
    padding: 15px;
    text-align: center;
 }

 
 tr:hover{background-color: #d6d5d5;}

tr:nth-child(even) {background-color: #d4dcf7;}