
* {
    box-sizing: border-box; 
	font-family: 'Noto Sans', sans-serif;
}

body{
    margin: 0;
    padding: 0;
}

.main{
    display: flex;
    flex-direction: row;
   /* height: 100vh;*/
}

.one{
    width: 150%;
    height: 100vh; /*for labtop ne fonction pas !!*/

}

.one_podium{
    
    align-items: center;
    width: 100%;
    border-bottom: 3px solid grey;
    padding: 30px;

}


.two{
    display: flex;
    flex-direction: column-reverse;
    align-items:self-start;
    padding-top: 50px;
    width: 100%;
    margin: auto;
}


@media (max-width: 1500px) {
    .two{
        display: flex;
        flex-direction: column-reverse;
        align-items:self-start;
        width: 50%;
        margin: auto;
        padding: 0;
        padding-top: 5px;
    }
   

}

.midPos{
    
        display: flex;
        flex-direction: row;
        margin: 20px;
        
    
}

@media (max-width: 1500px) {
    .midPos{
        display: flex;
       flex-direction: row;
       margin: 20px;
       
    }
    
}

.pos{
    display: flex;
    flex-direction: row;
    
    margin: 30px;
    align-self: center;

}



.rangAvatar{
    display: flex;
    flex-direction:column-reverse;
    align-items: center;
    
}

.table{
     
    border: 3px solid #699BF7;
    width: 150%;
    align-self:center;
    margin: auto;
    margin-left:70px;
       
    
}


@media (max-width: 1500px) {
    .table{

        border: 3px solid #699BF7;
        width: 50%;
        align-self:center;
        /*margin-left: 100px;*/
        margin: auto;
        margin-top: 5px;
       
        
    }
    
}

.thead{
    background-color: rgb(238, 236, 148);
    color: black;
    font-weight:bold;
 
}

.table ,th ,td{
   
   border: 1px solid #699BF7;
   shape-rendering: auto;
   align-self:center;
}

th{
    height: 50px;
    text-align: center;
    background-color: rgb(252, 244, 136);
  
}

td{
    height: 15px;
    vertical-align:middle;
   
}

th ,td{
    padding: 15px;
    text-align: center;
 }

 
 tr:hover{background-color: #d6d5d5;}

tr:nth-child(even) {background-color: #d4dcf7;}