
* {
    box-sizing: border-box; 
	font-family: 'Noto Sans', sans-serif;
}

body{
    margin: 0;
    padding: 0;
}

.main{
    display: flex;
    flex-direction: row;
    height: 100vh;
}

.one{
    width: 100%;
}

.one_podium{
    
    align-items: center;
    width: 100%;
    border-bottom: 3px solid grey;
    padding: 0px;

}

.points-cadre {
    font-weight: 800;
}

.pos {
    margin: 0;
    padding: 0;
    padding-left: 5rem;
    position: fixed;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5rem;
    

    /* flex-direction: column-reverse; */
  }

  .pos .card-wrapper{
    margin: 0;
    padding: 0;
    height: fit-content;
    position: relative;
  }


  .rangAvatar.podium-first {
    margin-top: 10rem;
  }
  

  
  .midPos h4 {
    margin-top: 0;
    margin-bottom: 10px;
  }
  

.midPos{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
}


.table{
     
    /* border: 3px solid #699BF7; */
    border-radius: 10;
    width: 100%;
    align-self:center;
    /* margin: auto;
    margin-left:70px; */
    
       
    
}

.thead{
    background-color: rgb(238, 236, 148);
    color: black;
    font-weight:bold;
 
}

.table ,th ,td{
   
   border: 1px solid #699BF7;
   shape-rendering: auto;
   align-self:center;
}

th{
    height: 50px;
    text-align: center;
    background-color: rgb(252, 244, 136);
  
}

td{
    height: 15px;
    vertical-align:middle;
   
}

th ,td{
    padding: 15px;
    text-align: center;
 }

 
 tr:hover{background-color: #d6d5d5;}

tr:nth-child(even) {background-color: #d4dcf7;}

.rangAvatar:first-of-type .cadre {
    /* background:linear-gradient(0deg, #C7B9FF, #f2def3); */
    background: #C7B9FF;
   
}

.rangAvatar:nth-of-type(2) .cadre {
    background: #699BF7;
}

.rangAvatar:last-of-type .cadre {
    background: #FFC700;
}


.top-avatar{
    width: 100%;
  height: 100%;
  object-fit: cover;
}

.bottom-align {
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
}
  
.rank-podium {
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: sans-serif;
    font-size: 20px;
    width: 45px;
    height: 45px;
    border-radius: 50%;
    background-color: #fff;
    border: 2px solid #000;
    top: -20px;
    left: 50%;
    transform: translateX(130%);
    background-color: rgb(248, 221, 124);
}
  