.participants-container {
    top: 0;
    right: 0;
    height: 100%;
    background-color: white;
    overflow-y: auto;
    right: 0; /* Ajout de la propriété right */
  }


  .name-participants {
    text-align: left;
    color: #699af7;
  }

  .participants-title {
    font-weight: bold;
    text-align: left;
    color: black;
  }

  .ul-participants {
    display: flex;
    align-items: center;
    font-weight: 500;
    cursor: pointer;
    justify-content: space-between;
    padding-left: 0;
  }

  .username-participants {
    display: flex;
    align-items: center;
    border-radius: 5px;
    cursor: pointer;
  }

  .fa-crown {
    color: gold;
    /* margin-left: 10px; */
  }

  .fa-trash {
    color: red;
    margin-left: 10px;
  }

  .fa-trash:hover {
    color: darkred;
  }

  .ban-icon {
    color: red;
    cursor: pointer;
  }

  .mute {
    color: red;
    cursor: pointer;
  }

  .mute.muted {
    color: gray!important ;
  }

  .send-btn-chat.muted {
    pointer-events: none;
    opacity: 0.5;
  }

  .send-btn-chat.muted {
    display: none;
  }

  .been-muted {
	display: flex;
	height: 105px;
	align-items: center;
	justify-content: space-around;
	background-color: #FDFAF9;
  }

.been-muted p {
  margin: 0px;
  font-family: 'Inter';
  font-weight: 500;
  font-size: 17px;
  letter-spacing: 2px;
}

.been-muted-icon {
  height: 45px;
  width: 45px;
  color: #ab1414;
}

.been-banned {
	display: flex;
	height: 105px;
	align-items: center;
	justify-content: space-around;
	background-color: #FDFAF9;
  }

.been-banned p {
  margin: 0px;
  font-family: 'Inter';
  font-weight: 500;
  font-size: 17px;
  letter-spacing: 2px;
}

.been-banned-icon {
  height: 45px;
  width: 45px;
  color: #ab1414;
}


.banned {
  color: red;
}