
.combPos{
    display: flex;
    flex-direction: column-reverse;
    flex: 0;
    align-items:center;
    margin-top: auto;
   padding-top: 0;
}
.cadre{

    padding: 40px;
    padding-top: 5px;
    padding-left: auto;
    padding-right: auto;
    text-align: center;

    border: 3px solid black;
    margin: 20px;
    margin-top: 0;
    width: 100px;
    direction:initial;
    border-radius: 4%;
    margin-bottom: 2;
    background: linear-gradient(0deg, #003ba5, #84c4e9);
    color: antiquewhite;
    font: bold;

}


