
.combPos{
        /* display: flex;
        flex-direction:row;
        align-items:center;
        margin-top: 0;
       padding-top: 0;
       align-self: self-end; */
       margin: 1rem;
   
}

 @media (max-width: 1700px) {
    .combPos{
        margin: 0.5rem;
        /* display: flex;
        flex-direction:column;
        align-items:center; */
        /* margin: 0;
       padding: 0; */
    }  
}

.cadre{
    margin: auto;
    padding-top: 20px;
    color: black;
    font-weight:bold;
    border: 5px solid black;
    width: 120px;
    border-radius: 10.9501px;
    background: linear-gradient(0deg, #003ba5, #84c4e9);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
    margin-top: -2rem;


    
   

}

@media (max-width: 1200px){
    .cadre{
        margin: auto;
        padding-top: 20px;
        color: black;
        font-weight:bold;
        border: 2px solid black;
        width: 100px;
        border-radius: 10.9501px;
        background: linear-gradient(0deg, #003ba5, #84c4e9);
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: start;
       
        margin-top: -2rem;

      


        
    
    }

}


.cadre p{
  
    font-weight: 800;
    margin-bottom: 0.5rem;
}

@media (max-width: 1700px) {
    .cadre p{
        font-weight: 400; 


        

}
} 
