.volet-container {
	position: fixed;
	right: 60px;
	transform: translate(0, -50%);
}

.add-friend {
	color: #699bf7;
	cursor: pointer;
	height: 20px;
	/* color: black; */
	padding: 11px;
	border: solid 1px #80808024;
	border-radius: 8px;
	width: 25px;
	margin-left: 10px;
	margin-right: 10px;
	}

.add-friend:hover {
    /* color: #C7B9FF; */
	background-color: #c7b9ff1f;
    box-shadow: 0px 1px 1px #8b8a8a;
}

.add-friend.disabled {
	opacity: 0.5; /* Réduit l'opacité pour donner un aspect désactivé */
	pointer-events: none; /* Désactive les événements du bouton */
	cursor: not-allowed; /* Change le curseur pour indiquer qu'il est désactivé */
  }

.profile-link {
	color: black;
	font-weight: 300;
}

